
.header {
    padding: 30px;
    text-align: center;
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
}
.header-text{
    font-size: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
}


li a {
    display:inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}
ul .active {
    background-color: #4CAF50;
}
.dropdown {
    position: relative;
    display: block;
}
.dropdown-list {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-list a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
}

.dropdown:hover .dropdown-list {
    display:inline-block;
    background-color: white;

}
.search{
  float: right;
}
input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
.search button {
  float: right;
  width: 60px;
  padding: 6px;
  margin-top: 8px;
  margin-right: 5px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.search button:hover {
  background: #ccc;
}
.carousel-inner{
  text-align: center;
  margin-top: 50px;

}
.carousel-inner > .item > img {
    margin: 0 auto;
}
.column {
    float: left;
    width: 25%;

}
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.right {
    font-size: 28px;
    font-style: oblique;
    width: 40%;
    margin-top: 50px;
    right: 0;
    color: black;
    padding: 20px;
}
.column.left {
    margin-top: 40px;
    margin-left: 20px;
    width: 55%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.choice button {
  height: 400px;
  width: 300px;
  margin-top: 50px;
  margin-left: 2%;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;

}
#place{
  background-color: #E32934;
}
#food{
  background-color: #3F729B;
}
#hotel{
  background-color: #F65314;
}
#click{
  background-color: #1e7145;
}

.choice button:hover {background-color: red}

.choice button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.icon {
    border: none;
    border-radius: 15px;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    position: fixed;
    right: 0;
    top: 2%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icon :hover {
    background-color: RoyalBlue;
}
.footer {
    color: white;
    background-color: #333;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
